:root {
  --Background: #272935;
  --DeputyBackground: #343746;
  --Accent: #2962FF;
  --MenuBar: #FFF;
  --CardBackground: #282A36;
  --CardBorder: #44475A;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Background);
  margin: 0px;
  color: var(--MenuBar);
}

#navlist {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  position: fixed;
  background-color: var(--MenuBar);
}

.right {
	flex: 80%;
}

.left {
	flex: 20%;
}

.navigation-link {
  background-color: var(--MenuBar);
  border: none;
  color: var(--Background);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Noto Sans';
}

.navigation-link:hover {
  background-color: var(--Accent);
  color: var(--MenuBar);
  transition: 0.5s;
}

.normal-background {
  background-color: var(--Background);
  display: flex;
  flex-direction: row;
}

.deputy-background {
  background-color: var(--DeputyBackground);
  display: flex;
  flex-direction: row;
}

.card {
  background-color: var(--CardBackground);
  border: 2px solid var(--CardBorder);
  border-radius: 5px;
  margin: 60px;
}
